/* Affects entire portfolio */

html {
    height: 100%;
    --bkgd-color: #f6f6f6;
    --body-color: #434343;
    --highlight-color: #f5b32f;
    --highdark-color: #274e9b;
    --warning-color: #d32f2f;
    --darkerblue-color: #0b3386;
    --body-size: 16px;
    --date-size: 14px;
    --button-size: 11px;
    --dash-butt-size: 30px;
    font-family: 'Gilroy Light', 'Gilroy', 'Helvetica', sans-serif;
    --submitt-font-size:50px;
}

body{
    background-color: var(--bkgd-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.wrapper{
    width: 50vw;
    display: flex;
    flex-direction: column;
}


button {
    font-size: 1em;
    border: 1px solid var(--warning-color);
    margin-bottom: 1em;
    font-family: inherit;
}


input{
    font-size: 100%;
    margin: 1%;
}

#edit-rubric {
    color: var(--highdark-color);
    font-weight: bold;
}

#dashboard h1 {
    color: var(--highdark-color);
    border-bottom: 6px solid var(--highlight-color);
    width: 100%;
}

#new-reminder-container h2 {
    color: var(--highdark-color);
    border-bottom: 6px solid var(--highlight-color);
    width: 100%;
}

/* SPLASH PAGE */

#sign-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    font-size: 150%;
    color: var(--highlight-color);
    background-color: #274e9b
}

.index-head{
    color: #f5b32f;
    z-index: 100;
    margin: 0 5vh 5vh 5vh;
}

.index-subhead{
    z-index: 100;
    margin: 36px 5vh 5vh 5vh;
}

#num{
    color: #f6f6f6;
}

#button-cont{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}

.open-button{
    background-color: var(--highdark-color);
    color: var(--bkgd-color);
    width: 45%;
    font-size: 150%;
    border: 2px solid var(--highlight-color);
    z-index: 100;
}

.open-button:hover{
    background-color: var(--highlight-color);
    color: var(--highdark-color);
}

.open-button:active{
    transform: translateY(3px);
}



#pen{
    position: absolute;
    width: 70vw;
    left: 20vw;
    bottom: 15vw;
    z-index: 0;
}

.penPath {
    fill: var(--darkerblue-color);
}




/* SIGN IN PAGE */

#signInDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 200%;
    color: var(--highlight-color);
    background-color: var(--highdark-color);
}

#signInDiv * {
    z-index: 2;
}

.enter-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-in-button{
    height: 100%;
    font-size: 100%;
    background-color: transparent;
    color: var(--bkgd-color);
    border: var(--highlight-color) solid 2px;
    margin: 0;
}

#sign-in-button:hover{
    background-color: var(--highlight-color);
    color: var(--highdark-color);
}

#sign-in-button:active{
    transform: translateY(3px);
}

/* SIGN UP PAGE */

#signUpDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 200%;
    color: var(--highlight-color);
    background-color: var(--highdark-color);
}

#signUpDiv * {
    z-index: 2;
}

#sign-up-button{
    height: 100%;
    font-size: 100%;
    background-color: transparent;
    color: var(--bkgd-color);
    border: var(--highlight-color) solid 2px;
    margin: 0;
}

#sign-up-button:hover{
    background-color: var(--highlight-color);
    color: var(--highdark-color);
}

#sign-up-button:active{
    transform: translateY(3px);
}

/* CSS for the dashboard */


main {
    padding: 12px 12px 60px;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    max-width: calc(100% - 24px);
}

h1 {
    margin-top: calc(2vh + 12px);
    color: var(--highdark-color);
}

p {
    font-size: var(--body-size);
}


/*******************************/

/* .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
  } */
  
  /* .flex-item:nth-of-type(1) { flex-grow: 8; }
  .flex-item:nth-of-type(2) { flex-grow: 1; } */
  



/*******************************/

#reminders-container{
    margin-top: 3vh;
}


.reminder-container,#new-reminder-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    margin-bottom: 6px;
    border-bottom: 4px solid darkgrey;

    /* padding: 0;
    margin: 0;
    list-style: none;
    display: flex; */
  
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}


#new-reminder-container{
    border: none;
    background-color: #dadada;
    position: sticky;
    bottom: 50px;
    padding: 12px 12px 60px;
    width: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 36px;
    margin-bottom: calc(1%);
}


#new-reminder-input{
    width: 100%;
    height: 2em;
    background-color: darkgrey;
}

#dashboard input {
    /* font-family: inherit;
    font-size: var(--body-size);
    min-width: calc(50% - 48px);
    max-width: 100%;
    min-height: 24px;
    padding: 3px 6px; */


    font-family: inherit;
    font-size: var(--body-size);
    /* min-width: calc(50% - 48px); */
    max-width: 100%;
    min-height: 24px;
    padding: 3px 6px;
    border: none;
    background-color: inherit;
    margin: 0;
}

#dashboard input[type=text] {
    margin-right: 3px;
    flex-grow: 8;
}

#dashboard input[type=date] {
    font-size: var(--date-size);
    flex-grow: 1;
    /* background: aquamarine; */
    padding: 0;
    margin: 0;
    text-align: center;
}

#dashboard button {

    font-size: var(--dash-butt-size);
    color: var(--warning-color);
    padding: 9px;
    border: none;
    background-color: inherit;
    margin: 0;
    flex-grow: 1;

}


#new-reminder-submit{
    position: absolute;
    bottom: 0;
    right: 0px;
    background: blue !important;
    /* transform: scale(2.5); */
    color: white !important;
    width: 2em;
    height: 2em;
    border-radius: 50% !important;
    border: 15px solid #dadada !important;
    font-size: 6.9vh !important;
    /* font-size: var(--submitt-font-size); */

}


#no-reminders-container {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--highlight-color);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

footer p {
    /* width: calc(100% - 24px); */
    text-align: center;
    line-height: 0.5em;
    margin-bottom: 0;
}

.madeby{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 2.5em;
    
}


a:link,a:visited {
    color: var(--darkerblue-color);
}




@media only screen and (max-width:700px){
    input{
        font-size: 100%;
    }

    #sign-cont{
        font-size: 100%;
        text-align: center;
    }

    .enter-cont{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #signInDiv{
        font-size: 100%;
        text-align: center;
    }

    #sign-in-button{
        font-size: 100%;
    }

    #signUpDiv{
        font-size: 100%;
        text-align: center;
    }
    
    #sign-up-button{
        font-size: 100%;
        margin: 1em 0 0 0 ;
    }

    #new-reminder-button {

    }
}